page-event-detail {
}
.colr{
	    text-align: center;
        font-size: 30px;
	}
.tab-item{
    
    opacity: 1;
    text-align: center;
   
}
.tab-item2{
    font-size: 15px;
    opacity: 1;
    text-align: center;
   

}

.oo{
	border-radius: 15px;
}

