<!--
  Generated template for the HowTo component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<!-- 
  Generated template for the HowTo component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
 
<ion-header>
  <ion-navbar>
    <ion-title align="center">
      How To
    </ion-title>

    
    <ion-buttons right>
        <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="md-close"></ion-icon>
        </button>
    </ion-buttons>  

  </ion-navbar>
</ion-header>
 <ion-content></ion-content>




<ion-slides pager>

<!-- slide page 1 -->
<ion-slide style="background-color: #FFBFFF ">

    <ion-card-header>
      
            <H1>Home Page</H1>
            <img src="img/HowTo.png"/>
        
    </ion-card-header>
  
    <ion-card-content>
      <H3>เริ่มต้นใช้งานแอปพลิเคชัน</H3>
    </ion-card-content>
  

</ion-slide>


<!-- slide page 2 -->
<ion-slide style="background-color: #009FFF ">

    <ion-card-header>
        <H1>Search Event Page</H1>
        <img src="img/SearchEvent.png"/>
    </ion-card-header>
  
    <ion-card-content>
        <H3>ใส่ข้อมูลหารายชื่อกิจกรรมที่ต้องการ</H3>
    </ion-card-content>
  

</ion-slide>

<!-- slide page 3 -->
<ion-slide style="background-color: white">
<ion-card>
    <ion-card-header>
        iStudents

    </ion-card-header>
  
    <ion-card-content>
        <ion-card-title>
            iStudents Application
        </ion-card-title>
        <p>หน้าสาม</p>
    </ion-card-content>
  
 </ion-card>
</ion-slide>
  

<!-- slide page 4 -->
<ion-slide style="background-color: white">
<ion-card>
    <ion-card-header>
        iStudents

    </ion-card-header>
  
    <ion-card-content>
        <ion-card-title>
            iStudents Application
        </ion-card-title>
        <p>หน้าสี่</p>
    </ion-card-content>
  
 </ion-card>
</ion-slide>


<!-- slide page 5 -->
<ion-slide style="background-color: white">
<ion-card>
    <ion-card-header>
        iStudents

    </ion-card-header>
  
    <ion-card-content>
        <ion-card-title>
            iStudents Application
        </ion-card-title>
        <p>หน้าห้า</p>
    </ion-card-content>
  
 </ion-card>
</ion-slide>

</ion-slides>